/*
 * Navigation menu
 */


#nav {
  // text-align: center;
  display: table;
  width: 80%;
  font-size: 12px;
  font-weight: normal;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  font-style:normal;
}
#nav li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#nav li a {
  padding: 5px;
  text-decoration: none;
  color: #BBBBBB;
}

#nav li a:hover {
  color: #444444;
}

/* 
 * Gallery
 */

.box {
  margin: 5px;
  // padding: 5px;
  // background: #D8D5D2;
  font-size: 14px;
  line-height: 1.4em;
  // float: left;
  // -webkit-border-radius: 5px;
  // -moz-border-radius: 5px;
  // border-radius: 5px;
}

.col1 {
  width:198px;
}

.col2 {
  width:406px;
}

.row1 {
  height:198px;
}

.row2 {
  height:406px;
}

.info-box {
  background-color:#ececec;
}

.info {
  margin: 5px;
}

.dim11 {
  width:198px;
  height:198px;
  background-color:#ececec;
}

.dim12 {
  width:198px;
  height:406px;
  background-color:#ececec;
}

.dim21 {
  width:406px;
  height:198px;
  background-color:#ececec;
}

.dim22 {
  width:406px;
  height:406px;
  background-color:#ececec;
}

.container{
  background: #FFF;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;

}

/**** Transitions ****/

.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

/*
 * Misc
 */

.centered { margin: 0 auto; }
