/* Navigation menu */

#nav {
  // text-align: center;
  display: table;
  width: 100%;
  font-size: 20px;
  // font-weight: normal;
  // font-family: Helvetica,Arial,Verdana,sans-serif;
  // font-style:normal;
}
#nav li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
#nav li a {
  padding: 5px;
  text-decoration: none;
  color: #BBBBBB;
}

#nav li a:hover {
  color: #444444;
}

/* Lexical entry XML structure */

pre.sourceCode { font-size: 100%; padding: 16px 16px 16px 32px; margin-top: 29px;}
pre.sourceCode { }
pre.sourceCode span.Normal { }
pre.sourceCode span.Keyword, pre.sourceCode span.kw { font-weight: bold; } 
pre.sourceCode span.String, pre.sourceCode span.st { font-weight: bold; } 
pre.sourceCode span.String, pre.sourceCode span.st { color: green; }
pre.sourceCode span.Comment, pre.sourceCode span.co { color: #999; font-style: italic; }
pre.sourceCode span.Others { }


/* Two column layout */

/* #wrap {
    font-family: Tahoma, sans-serif;
} */

#left_col {
    float: left;
    width:49%;
}

#right_col {
    float: right;
    padding: 8px;   /* See textarea below */
    width: 49%;
}

/* Textarea */

textarea {
    /* Box-sizing */
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/

    /* A nice border */
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;

    /* No horizontal resize
    resize: vertical; */
    resize: none;

    /* Autoresize -- no scroll-bar */
    overflow: hidden;
}

/* Preserving whitespaces in code (inline verbatim) */

code {
    font-family: Tahoma, sans-serif;
    white-space: pre-wrap;
}


/* Default links */

a:visited {
    text-decoration: none;
    color: #0000FF;
}

/* Form links */

.fl a:link {
    text-decoration: none;
    color: #006600;
}
.fl a:visited {
    text-decoration: none;
    color: #006600;
}
.fl a:active {
    text-decoration: none;
    color: #006600;
}
.fl a:hover {
    text-decoration: none;
    color: #003300;
}

/* "Znakuj" input button */

#znakuj-button {
    border: none;
    width: 100px;
    font-size: 16px;
    padding: 6px;
    font-weight: bold;
}

/* Next/Previous links */

#prev-next {
    margin-top: 15px;
}

/* Headers */

h2 {
    // border-bottom-style: solid ; 
    // border-bottom-color: #006600; 
    // border-bottom-color: #ccc; 
    // border-bottom-width: 5px;
    font-style: italic;
}

h3 {
    border-bottom-style: dotted ; 
    // border-bottom-color: #006600; 
    border-bottom-color: #ccc; 
    // border-bottom-width: 5px;
}

/* Misc */

.centered { margin: 0 auto; }

hr {
    border: 0;
    background-color: #cccccc;
    height: 6px;
}

hr.sep {
    margin-top: 23px;
}

/* hr.dots {
    border: 0;
    border-top: 1px dotted #cccccc;
    // border-top: 1px dotted #f00;
    // color: #cccccc;
    background-color: #fff;
    height: 1px;
} */

