/* Lexical entry XML structure */

pre.sourceCode { font-size: 100%; padding: 16px 16px 16px 32px; margin-top: 29px;}
pre.sourceCode { }
pre.sourceCode span.Normal { }
pre.sourceCode span.Keyword, pre.sourceCode span.kw { font-weight: bold; } 
pre.sourceCode span.String, pre.sourceCode span.st { font-weight: bold; } 
pre.sourceCode span.String, pre.sourceCode span.st { color: green; }
pre.sourceCode span.Comment, pre.sourceCode span.co { color: #999; font-style: italic; }
pre.sourceCode span.Others { }


/* Two column layout */

#left_col {
    float: left;
    width:49%;
}

#right_col {
    float: right;
    width: 49%;
}

/* Textarea */

textarea {
    /* Box-sizing */
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
    -moz-box-sizing: border-box; /* FF1+ */
    box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/

    /* A nice border */
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

/* Misc */

.centered { margin: 0 auto; }

hr {
    border: 0;
    background-color: #cccccc;
    height: 6px;
}
